// Colors
$dark-100:    #444;
$dark-200:    #3c3c3c;
$dark-300:    #333;
$dark-400:    #262626;
$dark-500:    #222;

$light-25:    #555;
$light-50:    #777;
$light-100:   #888;
$light-200:   #aaa;
$light-300:   #acabac;
$light-400:   #ccc;
$light-500:   #eee;

$info:        #7abaff;
$warning:     #ffdf7e;
$error:       #ed969e;
$fatal:       #dc3545;